//colors

$color--white : white;

$color--light-grey : #CABDB1;
$color--dark-grey : #A29C94;

$color--light-aqua : #86B6C2;
$color--dark-aqua : #508FA1;
$color--purple : #302C42;



//functions of colors

$color--background : $color--dark-aqua;
$color--font : $color--white;

$color--active : $color--light-grey;
$color--window : $color--dark-grey;