.o-tabs {
    margin: 20px auto 0;
    width: 100%;
    position: relative;
    min-width: 600px;

    &__table {
    	table-layout: fixed;
    	border-collapse: separate;
    	border-spacing: 0;
    	width: 100%;

    	th {
	    	// text-align: left;
	    	padding: 30px;
            border-left: 1px solid #dfdfdf;
            font-family: $font--head;
            font-size: 1.2em;
    	}

    	td {
	    	padding: 10px;
		    border-bottom: 1px solid #dfdfdf;
            border-left: 1px solid #dfdfdf;
            font-family: $font--normal;
		    font-size: 1em;
		    vertical-align: middle;
            width: 5%;
            background-color: $color--white;
            color: $color--purple;
            text-align: center;
    	}

    	td:first-child {
	    	border-left: 1px solid #dfdfdf;
    	}

    	td:last-child {
	    	border-right: 1px solid #dfdfdf;
    	}

    	tr:nth-child(2n+0) {
    		background-color: $color--white;
    	}
    }

    &__head {
		background-color: $color--purple;
		color: $color--white;
		border-left: 1px solid #dfdfdf;

    	th {
    		padding: 15px 0;
    		border-top: 1px solid #dfdfdf;
    		border-bottom: 2px solid #CACACA;
    	}

    	th:first-child {	
    		border-top-left-radius: 10px;
    		border-left: 1px solid #dfdfdf;
    		width: 10%;

    	}
    	th:last-child {	
    		border-top-right-radius: 10px;
	    	border-right: 1px solid #dfdfdf;
    	}
	}
}
