
//googleFonts

@import url(https://fonts.googleapis.com/css?family=Sofia|Abril+Fatface|Montserrat:400,700);

$font--head: Montserrat, sans-serif;

$font--person: Sofia, cursive;

$font--normal: Abril Fatface, cursive;



