//colors

$color--white : white;
$color--black: black;


$color--light-grey : #CABDB1;
$color--dark-grey : #A29C94;

$color--light-aqua : #86B6C2;
$color--dark-aqua : #508FA1;
$color--purple : #302C42;



//role of colors

$color--background : $color--white;
$color--font : $color--black;

$color--about: #A5CCD8;
$color--work: #FFD0AB;
$color--contact: #C2E3D1;