.c-form {
	background-color: $color--background;
	height: 300vh;
	margin: 0;
	form {
		width: 500px;
		margin: 100px auto;
		background-color: $color--light-aqua;
		padding: 50px;
		-webkit-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		-moz-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
	}

	&__tabs {
		width: 996px;
		margin: 100px auto;
		background-color: $color--purple;
		padding: 50px;
		-webkit-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		-moz-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);

		h1 {
			color: white;
			margin-bottom: 40px;
		}

		h3 {
			color: lighten($color--purple,20%);
			text-align: left;
		}

		.tab-header { 
			margin-top: 50px;
		}

		p {
			color: lighten($color--purple,10%);

		}

		#tab-group h3 {
		    text-align: left;
		}

		#tab-group h3 {
		    text-align: left;
		}

		.ready {
		    position: relative;
		    margin-bottom: 2em;
		}

		#tab-group.ready .tab-header {
		    font-weight: normal;
		    font-size: 13px;
		    text-transform: uppercase;
		    padding: 4px 6px;
		}

		.ready .tab-header {
		    position: absolute;
		    top: 0;
		    margin: 0;
		    padding: 0.25em 0.5em;
		    left: 0;

		    background: $color--purple;
		    border: 1px solid lighten($color--purple,50%);
		    border-radius: 4px 4px 0 0;
		    z-index: 2;

		    cursor: pointer;
		}

		.ready .tab-header.active {
		    background: white;
		    border-bottom-color: white;
		    z-index: 999;
		}

		.ready .tab-content {
		    position: relative;
		    top: 0;
		    margin: 0;
		    padding: 0.5em;
		    top: 24px;
		    border: 1px solid #999;
		    z-index: 1;
		    background: white;

		    zoom: 1;
		}

		.ready .tab-content:after {
		    content: "\0020";
		    display: block;
		    height: 0;
		    clear: both;
		    visibility: hidden;
		}

		.ready #tab-header-2 {
		    left: 11.5em;
		}

		.ready #tab-header-3 {
		    left: 19.0em;
		}

		.ready #tab-header-4 {
		    left: 24.1em;
		}

		.ready .tab-content {
		    display: none;
		}

		.ready .tab-content p {
		    margin: 0;
		    // padding: 0 0 1em;
		    padding: 30px 10px 1em 0;
		}

		.ready .tab-content.active {
		    display: block;
		}
				
	}

	&__maps {
		width: 996px;
		margin: 100px auto;
		background-color: $color--light-aqua;
		padding: 50px;
		-webkit-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		-moz-box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
		box-shadow: 10px 11px 45px -1px rgba(0,0,0,0.66);
	}
}

