@keyframes loading {
	from {transform: translateY(0);}

	to {transform: translateY(-350px);}
}

@keyframes changeColor {
	from {fill:white;}
	to {fill:black;}
}

@keyframes changeOpacity{
	from {opacity:0;}
	to {opacity:1;}
}

.c-weatherapp {
	background-color: $color--background;
	height: 200vh;
	margin: 0;

	&__logo {
		margin: 386px auto 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 400px 200px;
		height: 300px;
		width: 513px;
		animation: loading 1s cubic-bezier(.17,.67,.54,.99);
		animation-delay: 1s;
		animation-fill-mode: forwards;
		text-align: center;
		z-index: 0;

		#cloud {
			
		}

		#stroke {
			animation: changeColor 0.5s ease-in;
			animation-iteration-count: 3;
		}

		#fill {

		}
	}

	&__logo__text {
		text-align: center;
		position: relative;
		bottom: 6%;
		height: 300px;
		width: 513px;
		margin: 0 auto;
		animation: loading 1s cubic-bezier(.17,.67,.54,.99);
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	&__person {
		font-family: $font--person;
		font-size: 1.8em;
	}

	&__titel {
		font-family: $font--head;
		font-size: 2.5em;
		color: black;

	}

	#results {
		#loading {
			margin-left: 46%;
			margin-bottom: 20px;
		}
	}

	&__results {
		margin: -500px auto 0px;
		width: 960px;
		animation: changeOpacity 1s;
		animation-fill-mode: both;
		padding-top: 100px;
		padding-bottom: 53px;
		font-family: font--normal;
		font-size: 1.5em;

		#map {
			margin : 25px 33% 0;
		}

		

		&--text {
			text-align: center;
			margin-top: 95px;
			margin-bottom: 100px;
			font-family: $font--normal;
			font-weight: lighter;
			font-size: 1em;
			color: white;
		}

		&--table {
			text-align: center;
		}
	}

	&__buttons-wrapper {
		width: 220px;
		margin: 0px auto 0;
		&__button {
			margin: 0px auto 0px !important;
			text-align: center !important;
			display: block !important;
			width: 200px;
			text-shadow: 2px 2px #ff0000;
		}
	}
}


