<!-- this is menuToggle made with a checkbox hack, we have to change this later! -->
<input type="checkbox" id="menuToggle" name="" value=""></input>

<!-- this is the menu template, this should be dynamic later -->
<div class="c-menu">
	<nav class="c-menu__items">
		<ul class="c-menu__nav-pages">
			<li class="c-menu__link">
				<a href="index.html">{{1}}</a>
			</li>
			<li class="c-menu__link">
				<a href="image.html">{{2}}</a>
			</li>
			<li class="c-menu__link">
				<a href="form.html">{{3}}</a>
			</li>
			<li class="c-menu__link">
				<a href="to-do-list.html">{{4}}</a>
			</li>
			<li class="c-menu__link">
				<a href="code-clinic.html">{{5}}</a>
			</li>
			<li class="c-menu__link">
				<a href="ajax.html">{{6}}</a>
			</li>
			<li class="c-menu__link">
				<a href="weatherApp.html">{{7}}</a>
			</li>
		</ul>

		<ul class="c-menu__contact">
			<li class="c-menu__link">
				<span>Victor Lee @ Peakfijn</span>
				<span>Keizersgracht 536</span>
				<span>Tel: 0681160090</span>
			</li>
		</ul>
	</nav>
</div>

<!-- End menu, this is going to be dynamic later -->

<label for="menuToggle" class="fa fa-bars fa-2x c-menu__icon"></label>
<!-- End 2 second part of toggle -->