.c-home {

	height: 100vh;
	width: 100%;
	overflow: hidden;

	//for child profile
	position: relative;

	&__profile {
		border-radius: 50%;
		overflow: hidden;
		width: 20vw;
		height: 20vw;
		left: 50%;
		position: absolute;
		margin:-10vw 0 0 -10vw;
		top: 50vh;

		&__img {

			background: url(../img/victor.jpeg);
			background-position:top -10px center;
			background-repeat: no-repeat;
			background-color: $color--white;
			background-blend-mode: multiply;
			background-size: 31vw 31vw;
			width: 100%;
			height: 100%;
		}
	}
}
